[submodule "detection/ssd16_detection"]
	path = detection/ssd16_detection
	url = git@github.com:bobetocalo/ssd16_detection.git
[submodule "detection/retinanet17_detection"]
	path = detection/retinanet17_detection
	url = git@github.com:bobetocalo/retinanet17_detection.git
[submodule "detection/scrdet19_detection"]
	path = detection/scrdet19_detection
	url = git@github.com:bobetocalo/scrdet19_detection.git
[submodule "segmentation/unet15_segmentation"]
	path = segmentation/unet15_segmentation
	url = git@github.com:bobetocalo/unet15_segmentation.git
[submodule "segmentation/ocr20_segmentation"]
	path = segmentation/ocr20_segmentation
	url = git@github.com:bobetocalo/ocr20_segmentation.git
[submodule "recognition/resnet15_recognition"]
	path = recognition/resnet15_recognition
	url = git@github.com:bobetocalo/resnet15_recognition.git
[submodule "alignment/ciarp17_headpose"]
	path = alignment/ciarp17_headpose
	url = git@github.com:bobetocalo/ciarp17_headpose.git
[submodule "alignment/opal23_headpose"]
	path = alignment/opal23_headpose
	url = git@github.com:bobetocalo/opal23_headpose.git
[submodule "alignment/kazemi14_landmarks"]
	path = alignment/kazemi14_landmarks
	url = git@github.com:bobetocalo/kazemi14_landmarks.git
[submodule "detection/orp22_detection"]
	path = detection/orp22_detection
	url = git@github.com:bobetocalo/orp22_detection.git
[submodule "alignment/dad22_landmarks"]
	path = alignment/dad22_landmarks
	url = git@github.com:bobetocalo/dad22_landmarks.git
[submodule "alignment/efficientnet21_reconstruction"]
	path = alignment/efficientnet21_reconstruction
	url = git@github.com:bobetocalo/efficientnet21_reconstruction.git
[submodule "alignment/openpose_landmarks"]
	path = alignment/openpose_landmarks
	url = git@github.com:bobetocalo/openpose_landmarks.git
