[submodule "detection/ssd16_detection"]
	path = detection/ssd16_detection
	url = git@github.com:pcr-upm/ssd16_detection.git
[submodule "detection/retinanet17_detection"]
	path = detection/retinanet17_detection
	url = git@github.com:bobetocalo/retinanet17_detection.git
[submodule "detection/scrdet19_detection"]
	path = detection/scrdet19_detection
	url = git@github.com:bobetocalo/scrdet19_detection.git
[submodule "detection/orp22_detection"]
	path = detection/orp22_detection
	url = git@github.com:bobetocalo/orp22_detection.git
[submodule "detection/arckpadel_detection"]
	path = detection/arckpadel_detection
	url = git@github.com:pcr-upm/arckpadel_detection.git
[submodule "segmentation/unet15_segmentation"]
	path = segmentation/unet15_segmentation
	url = git@github.com:bobetocalo/unet15_segmentation.git
[submodule "segmentation/ocr20_segmentation"]
	path = segmentation/ocr20_segmentation
	url = git@github.com:bobetocalo/ocr20_segmentation.git
[submodule "classification/resnet15_recognition"]
	path = classification/resnet15_recognition
	url = git@github.com:bobetocalo/resnet15_recognition.git
[submodule "generation/controlnet23_generation"]
	path = generation/controlnet23_generation
	url = git@github.com:bobetocalo/controlnet23_generation.git
[submodule "regression/headpose/ciarp17_headpose"]
	path = regression/headpose/ciarp17_headpose
	url = git@github.com:bobetocalo/ciarp17_headpose.git
[submodule "regression/headpose/access25_headpose"]
	path = regression/headpose/access25_headpose
	url = git@github.com:pcr-upm/access25_headpose.git
[submodule "regression/headpose/opal23_headpose"]
	path = regression/headpose/opal23_headpose
	url = git@github.com:pcr-upm/opal23_headpose.git
[submodule "regression/headpose/students_headpose"]
	path = regression/headpose/students_headpose
	url = git@github.com:pcr-upm/students_headpose.git
[submodule "regression/reconstruction/efficientnet21_reconstruction"]
	path = regression/reconstruction/efficientnet21_reconstruction
	url = git@github.com:pcr-upm/efficientnet21_reconstruction.git
[submodule "regression/reconstruction/pami20_reconstruction"]
	path = regression/reconstruction/pami20_reconstruction
	url = git@github.com:pcr-upm/pami20_reconstruction.git
[submodule "regression/gaze/saul24_gaze"]
	path = regression/gaze/saul24_gaze
	url = git@github.com:pcr-upm/saul24_gaze.git
[submodule "regression/alignment/dad22_landmarks"]
	path = regression/alignment/dad22_landmarks
	url = git@github.com:bobetocalo/dad22_landmarks.git
[submodule "regression/alignment/icits24_landmarks"]
	path = regression/alignment/icits24_landmarks
	url = git@github.com:pcr-upm/icits24_landmarks.git
[submodule "regression/alignment/kazemi14_landmarks"]
	path = regression/alignment/kazemi14_landmarks
	url = git@github.com:bobetocalo/kazemi14_landmarks.git
[submodule "regression/alignment/openpose_landmarks"]
	path = regression/alignment/openpose_landmarks
	url = git@github.com:bobetocalo/openpose_landmarks.git
[submodule "regression/alignment/students_landmarks"]
	path = regression/alignment/students_landmarks
	url = git@github.com:pcr-upm/students_landmarks.git
[submodule "regression/alignment/wdann_landmarks"]
	path = regression/alignment/wdann_landmarks
	url = git@github.com:pcr-upm/wdann_landmarks.git
[submodule "detection/detr20_detection"]
	path = detection/detr20_detection
	url = git@github.com:pcr-upm/detr20_detection.git
[submodule "classification/cvprw26_recognition"]
	path = classification/cvprw26_recognition
	url = git@github.com:pcr-upm/cvprw26_recognition.git
[submodule "classification/eccv26_tad"]
	path = classification/eccv26_tad
	url = git@github.com:pcr-upm/eccv26_tad.git
